<%- include("templates/header"); %>
    <h1>Results Page</h1>
    
        <p> 
          Released:  <%- data["Released"]; %>  
          Year:  <%- data["Year"]; %>
          Title:  <%- data["Title"]; %>
        </p>
    
<%- include("templates/footer"); %>