<%- include("templates/header"); %>
    <h1>Results Page</h1>

    <% for(var i=0; i < data['Search'].length; i++) {%>
      <tr>
        <td>
          <p> 
            <img src="<%- data['Search'][i]['Poster']; %>"></img>
            Movie Name: <%- data['Search'][i]['Title']; %>
            Released:  <%- data['Search'][i]["Year"]; %>  
            imdbID:  <%- data['Search'][i]["imdbID"]; %>
            Type:  <%- data['Search'][i]["Type"]; %>
          </p>
        </td>
      </tr>
   <% } %>

<%- include("templates/footer"); %>